# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
.vscode/
*.iml
*.lock

# Generated
**/*.g.dart
**/*.freezed.dart
# auto_route .gr.dart мы коммитим — он часть исходников.

# OS
.DS_Store
Thumbs.db

# Native
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/captures/
android/local.properties

# Misc
coverage/
*.log
